body{
    /* background: rgb(75, 75, 75); */
    background-image: url(../images/bg.jpg);
    color: rgb(231, 231, 231);
    text-align: center;
}
button{
    font-size: 12px;
    padding: 2px;
    border: solid 1px rgb(180, 193, 255);
    color: rgb(180, 193, 255);
    background: rgb(0, 20, 110);
    border-radius: 6px;
    text-align: center;
}
#header-text{
    height: 50px;
    background: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}
#header-fade{
    height: 30px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255, 0));
}
h1{
    font-size: 36px;
    color: rgb(71, 71, 71);
}
h2{
    font-size: 24px;
    margin-bottom: 5px;
    color: rgb(255, 255, 255)
}
p{
    margin-bottom: 10px;
}
a{
    color: rgb(0, 255, 255);
}
#articles{
    margin: auto;
    width: 80%;
}
img{
    /* float: left; */
    display: inline-block;
    width: 25%;
    vertical-align: top;
}
.single-article-div{
    text-align: left;
    background-color: rgba(54, 54, 54, 0.747);
    margin: 10px 0;
    border: solid 4px rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}
.article-text-div{
    width: 73%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}
.note-div{
    padding: 20px;
}
.p-note{
    margin-top: 20px;
}
.disabled-button{
    background-color:rgb(171, 255, 45);
}